openapi: 3.0.0
info:
  title: Codebreaker Solitaire API
  version: "4.1.2"
  description: REST API for solitaire-style Codebreaker gameplay. The service acts as the codemaker.
    No authentication required.
servers:
  - url: https://ddc-java.services/codebreaker-solitaire
    description: Production server

tags:
  - name: Games
    description: Start, retrieve, and delete games.
  - name: Guesses
    description: Submit and retrieve guesses for a game.

paths:
  /games:
    post:
      tags: [Games]
      operationId: createGame
      summary: Start new game
      description: Starts a new game, randomly generating a secret code using the properties specified in the request body.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Game"
            examples:
              createGame:
                summary: Create a 4-char code using pool ABCDEF
                value:
                  pool: "ABCDEF"
                  length: 4
      responses:
        "201":
          description: Code generated and game started successfully.
          headers:
            Location:
              description: Absolute URL of the created game resource.
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Game"
        "400":
          description: Invalid code length or character pool.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /games/{gameId}:
    get:
      tags: [Games]
      operationId: getGame
      summary: Retrieve a game
      description: Returns the game with the unique identifier specified by `gameId`.
      parameters:
        - $ref: "#/components/parameters/GameId"
      responses:
        "200":
          description: Specified game returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Game"
        "404":
          description: No game exists with the specified `gameId`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    delete:
      tags: [Games]
      operationId: deleteGame
      summary: Delete a game
      description: Deletes the game (and all related guesses) with the unique identifier `gameId`.
      parameters:
        - $ref: "#/components/parameters/GameId"
      responses:
        "204":
          description: Specified game deleted.
        "404":
          description: No game exists with the specified `gameId`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /games/{gameId}/guesses:
    post:
      tags: [Guesses]
      operationId: submitGuess
      summary: Submit a guess
      description: Submits a guess against the game specified by `gameId`.
      parameters:
        - $ref: "#/components/parameters/GameId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Guess"
            examples:
              submitGuess:
                summary: Submit a guess
                value:
                  text: "AABBCC"
      responses:
        "201":
          description: Guess submitted successfully.
          headers:
            Location:
              description: Absolute URL of the created guess resource.
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Guess"
        "400":
          description: Length of guess doesn’t match code length.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: No game exists with the specified `gameId`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: The specified game is already completed (solved).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /games/{gameId}/guesses/{guessId}:
    get:
      tags: [Guesses]
      operationId: getGuess
      summary: Retrieve a guess
      description: Returns the guess identified by `guessId` submitted in the game identified by `gameId`.
      parameters:
        - $ref: "#/components/parameters/GameId"
        - $ref: "#/components/parameters/GuessId"
      responses:
        "200":
          description: Specified guess returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Guess"
        "404":
          description: Game or guess not found, or guess not associated with game.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

components:
  parameters:
    GameId:
      name: gameId
      in: path
      required: true
      description: Unique identifier of game resource.
      schema:
        type: string
    GuessId:
      name: guessId
      in: path
      required: true
      description: Unique identifier of guess resource.
      schema:
        type: string

  schemas:
    Game:
      type: object
      description: >
        Game resource. When solved is true, the secret code text may be included in responses.
      properties:
        id:
          type: string
          description: Unique identifier of the game.
          readOnly: true
        created:
          type: string
          description: Timestamp of code creation (start of game).
          readOnly: true
        pool:
          type: string
          description: >
            Pool of available characters for code (and guesses). Duplicated characters will be ignored.
            Null/unassigned Unicode code points are not allowed.
        length:
          type: integer
          format: int32
          description: Length (in characters) of generated code. Valid range is 1 to 20.
          minimum: 1
          maximum: 20
        solved:
          type: boolean
          description: Flag indicating whether code has been guessed successfully.
          readOnly: true
        text:
          type: string
          description: Text of secret code (included only for completed/solved games).
          readOnly: true
        guesses:
          type: array
          description: Array of guesses submitted in this game.
          readOnly: true
          items:
            $ref: "#/components/schemas/Guess"
      required:
        - pool
        - length

    Guess:
      type: object
      description: >
        Guess resource. This single schema is used for both requests and responses; response-only fields are marked readOnly.
      properties:
        id:
          type: string
          description: Unique identifier of the submitted guess.
          readOnly: true
        created:
          type: string
          description: Timestamp of guess submission.
          readOnly: true
        text:
          type: string
          description: Text of guess.
        exactMatches:
          type: integer
          format: int32
          description: Count of characters in the guess that are in the same positions in the secret code.
          readOnly: true
          minimum: 0
        nearMatches:
          type: integer
          format: int32
          description: Count of characters in the guess that are in the secret code, but not in the same positions.
          readOnly: true
          minimum: 0
        solution:
          type: boolean
          description: Flag indicating whether this guess exactly matches the secret code.
          readOnly: true
      required:
        - text

    Error:
      type: object
      description: Standard error response.
      properties:
        timestamp:
          type: string
          description: Timestamp of request.
        status:
          type: integer
          format: int32
          description: HTTP response status code.
        error:
          type: string
          description: HTTP response status text.
        message:
          type: string
          description: Additional error message.
        path:
          type: string
          description: Host-relative URL of request.
        details:
          type: object
          additionalProperties: true
          description: Additional details (generally included with validation errors).
