openapi: 3.0.0
info:
  description: API for managing and playing Codebreaker Solitaire games.
  title: Codebreaker Solitaire API
  version: 4.1.2
servers:
- description: Production server
  url: https://ddc-java.services/codebreaker-solitaire
paths:
  /games:
    post:
      operationId: startGame
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Game'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Game'
          description: Code generated & game started successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Invalid code length or character pool.
      summary: Start a new game
      x-content-type: application/json
      x-accepts: application/json
  /games/{gameId}:
    delete:
      operationId: deleteGame
      parameters:
      - explode: false
        in: path
        name: gameId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Specified game deleted.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Game not found.
      summary: Delete a game resource
      x-accepts: application/json
    get:
      operationId: getGame
      parameters:
      - explode: false
        in: path
        name: gameId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Game'
          description: Specified game returned.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Game not found.
      summary: Retrieve a game resource
      x-accepts: application/json
  /games/{gameId}/guesses:
    post:
      operationId: submitGuess
      parameters:
      - explode: false
        in: path
        name: gameId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Guess'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Guess'
          description: Guess submitted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Length of guess doesn’t match code length.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Game not found.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Game already solved.
      summary: Submit a new guess for a game
      x-content-type: application/json
      x-accepts: application/json
  /games/{gameId}/guesses/{guessId}:
    get:
      operationId: getGuess
      parameters:
      - explode: false
        in: path
        name: gameId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: guessId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Guess'
          description: Specified guess returned.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Game or Guess not found.
      summary: Retrieve a specific guess resource
      x-accepts: application/json
components:
  schemas:
    Game:
      example:
        created: 2000-01-23T04:56:07.000+00:00
        pool: pool
        length: 2
        solved: true
        id: id
        text: text
        guesses:
        - exactMatches: 6
          nearMatches: 1
          solution: true
          created: 2000-01-23T04:56:07.000+00:00
          id: id
          text: text
        - exactMatches: 6
          nearMatches: 1
          solution: true
          created: 2000-01-23T04:56:07.000+00:00
          id: id
          text: text
      properties:
        id:
          readOnly: true
          type: string
        created:
          format: date-time
          readOnly: true
          type: string
        pool:
          description: Pool of available characters for code and guesses.
          type: string
        length:
          description: Length (in characters) of generated code.
          maximum: 20
          minimum: 1
          type: integer
        solved:
          readOnly: true
          type: boolean
        text:
          description: Text of secret code. Only included in responses for completed
            (solved) games.
          readOnly: true
          type: string
        guesses:
          items:
            $ref: '#/components/schemas/Guess'
          readOnly: true
          type: array
      required:
      - length
      - pool
      type: object
    Guess:
      example:
        exactMatches: 6
        nearMatches: 1
        solution: true
        created: 2000-01-23T04:56:07.000+00:00
        id: id
        text: text
      properties:
        id:
          readOnly: true
          type: string
        created:
          format: date-time
          readOnly: true
          type: string
        text:
          description: Text of guess.
          type: string
        exactMatches:
          readOnly: true
          type: integer
        nearMatches:
          readOnly: true
          type: integer
        solution:
          description: Flag indicating whether this guess exactly matches the secret
            code.
          readOnly: true
          type: boolean
      required:
      - text
      type: object
    Error:
      properties:
        timestamp:
          format: date-time
          type: string
        status:
          description: HTTP response status code.
          type: integer
        error:
          description: HTTP response status text.
          type: string
        message:
          description: Additional error message.
          type: string
        path:
          description: Host-relative URL of request.
          type: string
        details:
          description: "Additional details, generally included with validation errors."
          type: object
      type: object

